div[data-slate-editor="true"] {
  counter-reset: line;
  width: 100%;
}
div[data-slate-editor="true"] {
  height: 74vh;
  overflow-x: auto;
  overflow-y: visible;
}
span[data-slate-placeholder="true"] {
  max-width: 20em !important;
}

div[data-slate-editor="true"] > pre:before {
  content: counter(line);
  counter-increment: line;
  padding-right: 2em;
  align-items: flex-end;
}
div[data-slate-editor="true"] > ol {
  counter-reset: ordlist;
}
div[data-slate-editor="true"] > ol > li:before {
  content: counter(ordlist);
  counter-increment: ordlist;
  padding-right: 0.5em;
  align-items: flex-end;
}
div[data-slate-editor="true"] > ul > li:before {
  content: "\2022";
  font-size: 1.2rem;
  padding-right: 0.5em;
  align-items: flex-end;
}

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  div[data-slate-editor="true"] > pre:before {
    padding-right: 1.5em;
  }
}
@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  div[data-slate-editor="true"] > pre:before {
    padding-right: 1em;
  }
}
@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  div[data-slate-editor="true"] > pre:before {
    padding-right: 0.5em;
  }
}
pre:before {
  -webkit-user-select: none;
}
span[data-slate-placeholder="true"] {
  display: inline !important;
}
